{% if beer %}

<script src="/static/js/pints_main_ajax.js"></script>

<form class="form-inline" id="score-form" method="post" action="{% url 'add_score' beer.beer_id %}">
    {% csrf_token %}
    <div class="form-group">
        <div class="form-group has-error has-feedback" id="score-form-errors" style="display: none;">
            <p style="color:red"> Rating not saved! Please enter a valid rating</p>
        </div>

        <div class="col-xs-6">
            <label class="sr-only" for="score-val">Beer Score (out of 100)</label>
            <div class="input-group">
                <input class="form-control" id="score-val" name="score" type="text" placeholder="score"{% if beer_score %} value="{{ beer_score.score }}" {% endif %}/>
                <div class="input-group-addon">/ 100</div>
            </div>
        </div>
        <div class="col-xs-3">
            <button type="submit" class="btn btn-default btn-small">Save</button>
        </div>
    </div>
</form>

{% else %}
<p> Error loading form </p>

{% endif %}