{% extends 'base.html' %}

{% load staticfiles %}

{% block title %} - New Beer {% endblock %}

{% block body_block %}
	<form role="form" id="beer_form" method="post" action="{% url 'add_beer' brewery.slug %}" />

		{% csrf_token %}

		<h2 class="form-signin-heading"> Add a Beer for <a href="{{ brewery.get_absolute_url }}"> {{ brewery.name }}</a></h2>
		{% for hidden in form.hidden_fields %}
			{{ hidden }}
		{% endfor %}

		{% for field in form.visible_fields %}
			{{field.help_text }}: {{ field }}  {{ field.errors }}
			<br><br>
		{% endfor %}

		<button class="btn btn-primary" type="submit" name="submit">Add Beer </button>
	</form>
{% endblock %}