{% extends 'base.html' %}

{% load staticfiles %}

{% block detail_title %}- {{ beer_name }} {% endblock %}

{% block body_block %}
    <div class="page-header">
        <div class="row">
            <div class="col-md-6">
               <h1>{{ beer_name }}</h1>
               {% for b in breweries %}
                    <p class="lead"><a href = "/brewery/{{ b.id }}">{{ b.name }}</a> </p>
                {% endfor %}
            </div>
        </div>
    </div>

        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Your Rating</th>
                        <th>Date Rated</th>
                        <th>Average Rating</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{ beer_score.score }}</td>
                        <td>{{ beer_score.score_date }}</td>
                        <td>None</td>
                    </tr>
                </tbody>
            </table>
        </div>

{% endblock %}