{% extends 'detail.html' %}

{% load staticfiles %}

{% block title %}- {{ beer_details.data.name }} {% endblock %}

{% block jumbo_block %}

   <h1>{{ beer_details.data.name }}</h1>
   {% for b in beer_details.data.breweries %}
        <p class="lead"><a href = "/brewery/{{ b.id }}">{{ b.name }}</a> </p>
    {% endfor %}

    
<!--     {% if beer_details.data.description %}
        <p> <small> {{ beer_details.data.description }} </small></p>
    {% endif %} -->

{% endblock %}

{% block detail_block %}
    <div class="row">
        <div class="col-md-4">

            {% block user_score_block %}
            <p><a href= "{% url 'user_login' %}">Log in</a> to add  score</p>
            {% endblock %}

        </div>

        <div class="col-md-4">
            <h3> Average Rating </h3>
            <p>

                {% if avg_score %}

                <span class="lead">{{ avg_score }}</span>/ 100</h3>

                {% else %}

                N/A

                {% endif %}

            </p>
        </div>
    </div>

{% endblock %}