{% extends 'base.html' %}

{% load staticfiles %}

{% block detail_title %}- {{ beer.data.name }} {% endblock %}

{% block body_block %}
    <div class="page-header">
        <div class="row">
            <div class="col-md-6">
               <h1>{{ beer.data.name }}</h1>
               {% for b in beer.data.breweries %}
                    <p class="lead"><a href = "/brewery/{{ b.id_ }}">{{ b.name }}</a> </p>
                {% endfor %}
            </div>
        </div>
    </div>

    {% if beer.data.description %}
        <p> {{ beer.data.description }} </p>
    {% endif %}

    {% if beer_score %}
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Your Rating</th>
                        <th>Date Rated</th>
                        <th>Average Rating</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{ beer_score.score }}</td>
                        <td>{{ beer_score.score_date }}</td>
                        <td>{{ avg_score }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    {% elif user %}
        <a href = "/beer/add_beer_score/">Rate this beer!</a>
    {% else %}
        <a href = "{% url 'pints_user.user_login' %}"> Log in to rate this beer </a>
    {% endif %} 

{% endblock %}