{% extends 'base.html' %}

{% load staticfiles %}

{% block title %} - {{ brewery.data.name }} {% endblock %}

{% block body_block %}
<div class="page=header">
    <h1>{{ brewery.data.name }}</h1>

    {% if brewery.data.website %}
       <p class="lead">{{ brewery.data.website }}</p>
    {% endif %}
</div>

{% if beers %}
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Beer</th>
                        <th>Style</th>
                        <th>My Rating</th>
                        <th>Average Rating </th>
                    </tr>
                </thead>
                <tbody>
                    {% for beer in beers.data %}
                    <tr>
                        <td><a href = "/beer/{{ beer.id_ }}">{{ beer.name }} </a></td>
                        <td>{{ beer.style.name }}</td>
                        <td>
                            {% if beer.user_score %}
                                {{ beer.user_score }}
                            {% else %}
                                Not Rated
                            {% endif %}
                        </td>
                        <td>{{ beer.avg_score }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
{% else %}
    <strong>We don't have any beers for this brewery.</strong>
{% endif %}
    </div>
{% endblock %}