{% extends 'detail_page.html' %}

{% load staticfiles %}

{% block detail_title %} - {{ brewery.name }} {% endblock %}

{% block detail_content %}
<div>
    <h1>{{ brewery.name }}</h1>
    {{ brewery.country }}, {{ brewery.brew_type }}
    {% if brewery.url %}
        <br />
        {{ brewery.url }}
    {% endif %}
</div>

<div>
    {% if beers %}
        <ul>
            {% for b in beers %}
                <li><a href = "{{ b.get_absolute_url }}">{{ b.name }}</a> - {{ b.get_top_score }}</li>
            {% endfor %}
        </ul>
    {% else %}
        <strong>We don't have any beers for {{ brewery.name }}.</strong>
    {% endif %}
</div>
<div>
    <a href = "{{ brewery.get_absolute_url }}/add_beer/"> Add a new beer </a>
</div>
{% endblock %}