{% extends 'detail_page.html' %}

{% load staticfiles %}

{% blcok detail_title %} - Delete {{ beer.name }} {% endblock %}

{% block detail_content %}

<div>
	Are you sure  you want to delete {{ beer.name }}?

	<form id="beer_delete" method="post" action="{% url 'delete_beer' beer.slug %}">
		{% csrf_token %}
		<input type="submit" name="delete"value= "Delete this beer">
	</form>
</div>

{% endblock %}

{% block detail_footer %}
	<a href = "{{ beer.get_absolute_url }}/edit_beer">Back to editing page </a>
{% endblock %}

