{% extends 'base.html' %}

{% load staticfiles %}

{% block title %} Home {% endblock %}


{% block body_block %}
    <div class="row">
        {% if scores_detail %}
            {% for score in scores_detail %}
            <div class="col-xs-6 col-sm-4">
            	<div class="thumbnail">
            		<!-- <div style="background-image:url('{{ score.icon }}'); width:200px;height:200px; background-position:left;">&nbsp;</div> -->
	        		<a href = "/beer/score/{{ score.id }}"><img src={{ score.icon }}></a>
        		    <div class="caption">
        		    	<h4>{{ score.name }}</h4> {{ score.style }}
        		    	<p>{{ score.score }}</p>

        			</div>
                </div>
            </div>
            {% endfor %}

        {% endif %}
    </div>
{% endblock %}