{% extends 'base.html' %}

{% load staticfiles %}

{% block title %} Home {% endblock %}


{% block body_block %}
    <div class="row">
        {% if scores_detail %}
            {% for score in scores_detail %}
            <div class="col-xs-6 col-sm-4">

                    <div class="thumbnail">
                        <a href = "/beer/{{ score.beer_id }}">
                		<!-- <div style="background-image:url('{{ score.icon }}'); width:200px;height:200px; background-position:left;">&nbsp;</div> -->
    	        		<img src={{ score.icon }} class="img-thumbnail">
            		    <div class="caption">
            		    	<h5>{{ score.name }}</h5>
                        </a>
                        <h5>{{score.score }}/ 100</h5>
                        </div>
                    
                    
                    </div>
                </a>
            </div>
            {% endfor %}

        {% endif %}
    </div>
{% endblock %}