{% extends 'index.html' %}

{% load staticfiles %}

{% block list_block %}

    <div class="row">
        {% if beer_list %}
            {% for beer in beer_list %}
                <div class="col-md-3 col-sm-4 col-xs-6">
                    <div class="dummy"></div>
                    <div class="thumbnail">
                        <a href = "/beer/{{ beer.data.id_ }}"><img src={{ beer.data.breweries.0.images.medium }} class="img-thumbnail" alt ="{{ beer.data.name }}" style:"size:150%"></a>
        		    	<a href = "/beer/{{ beer.data.id_ }}"><h4>{{ beer.data.name }}</h4></a>
                        <p> <small>by {{ beer.data.breweries.0.name }}</small></p>
                        <p><strong>{{beer.data.score }}</strong><small>/ 100</small></p>
                            
                    </div>

                </div>
            {% endfor %}

        {% endif %}
    </div>

{% endblock %}
