{% extends 'user_forms.html' %}

{% load staticfiles %}

{% block title %} - Log In {% endblock %}

{% block form_title %} Log In {% endblock %}

{% block form_block %}
	{% if error_message %}
	<div>

		{{ error_message }}
	</div>

	{% endif %}

	<div>	
		<form id="login_form" method="post" action="/login/">
			{% csrf_token %}
			Username: <input type="text" name="username" value="{{username}}" size="50" />
			<br />
			Password: <input type="password" name="password" value="" size="50" />

			<input type="hidden" name="next" value="{{ next }}" />
			<br />

			<input type="submit" value="Log In" />

		</form>
	</div>
{% endblock %}
