{% extends 'base.html' %}

{% load staticfiles %}

{% block title %} Home {% endblock %}


{% block body_block %}
    <div class="row">
        {% if scores %}
            {% for score in scores %}
            <div class="col-xs-4 col-sm-3">
            	<div class="thumbnail">
            		<!--<div style="background-image:url('/static/images/dc_brau.png'); width:200px;height:200px; background-position:left;">&nbsp;</div> -->
	        		<a href = "{{ score.beer.get_absolute_url }}"><img src='/static/images/'></a> 
        		    <div class="caption">
        		    	<h4>{{ score.beer.name }}</h4>
        		    	<p>{{ score.beer.beer_style }} - {{ score.score }}</p>

        			</div>
                </div>
            </div>
            {% endfor %}

        {% endif %}
    </div>
{% endblock %}