{% extends 'user.html' %}

{% load staticfiles %}


{% block body_block %}
    <h2 class="form-signin-heading text-center">Sign Up for Pint Journal</h2>
	<form class="form-signin" role="form"  method="post" action="{% url 'register' %}">
		{% csrf_token %}

		<div class="form-group">
 			<p class="required"> <label for="id_username">Please Enter a Username</label>
 			{{ user_form.username }} {{user_form.errors.username}}</p>
		</div>

 		<div class="form-group">
    		<p class="required"><label for="id_email">Please Enter Your Email</label>
    		{{ user_form.email }} {{user_form.errors.email }}</p>
 		</div>

		<div class="form-group">
    		<p class="required"><label for="id_password1">Please Enter a Password</label>
    		{{ user_form.password }} {{user_form.errors.password }}</p>
		</div>

		<div class="form-group">
    		<p class="required"><label for="id_password2">Enter Your Password Again</label>
    		{{ user_form.password }} {{ user_form.errors.password }}</p>
		</div>

		<div class="form-group">
    		<p class="required"><label for="id_picture">Select a Profile Picture</label>
 			<input class="form-control" id="id_picture" name="picture" type="file" placeholder="Profile Picture" /></p>
		</div>


		<button type="submit" class="btn btn-primary">Sign Up</button>

    </form>
{% endblock %}
