<!DOCTYPE html>
<html>
    <head lang="en">
        <meta charset="UTF-8">
        <title>Pint Journal{% block title %}{% endblock %}</title>
    </head>

    <body>
        <div>
            <ul>
                {% if user.is_authenticated %}
                    <li><a href="{% url 'user_logout' %}"> Log Out </a></li>
                {% else %}
                    <li><a href="{% url 'register' %}"> Register Here </a></li>
                    <li><a href="{% url 'user_login' %}?next={{ request.get_full_path }}"> Login </a></li>
                {% endif %}
            </ul>
        </div>

        <hr />

        <div>
            {% block body_block %}{% endblock %}
        </div>
    </body>
</html>